body {
  background-color: brown;
  text-align:center;
}
h1{
  text-align: center;
  color: black;
}
#form1 {
text-align: center;
background-color: burlywood;
}
p{
  background-color: blanchedalmond;
}
